.novo-bairro {
    text-align: center;
  }
  
  .novo-bairro h2 {
    margin-bottom: 1rem;
  }
  
  form {
    max-width: 200px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-control label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .button-container button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  