.novo-municipio {
    text-align: center;
  }
  
  .novo-municipio h2 {
    margin-bottom: 1rem;
  }
  
  form {
    max-width: 200px;
    margin: 0 auto;
    padding: 1rem;
    
    background: linear-gradient(
      92.23deg,
      #ff56f6 21.43%,
      #b936ee 50.63%,
      #3bace2 100%,
      #406aff 117.04%
    );
    
    box-shadow: 0px 4.42184px 107.23px rgba(255, 86, 246, 0.51);
    border-radius: 5px;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  .form-control label {
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .form-control input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  
  .button-container button {
    padding: 0.5rem 1rem;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  