.container-cadastro{
    width: 200px;
    
    margin: 0;
}

.botao-cadastro{
    background-color: red;
    margin-top: 30px;
}
.form-cadastro{
    padding: 30px;
    border: 1px solid #111;
    display: flex;
    flex-direction: column;
}